@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Firefox */

    input[type="number"] {
        appearance: textfield;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: #444444 #212121;
    }

    /* Chrome, Edge, Safari */

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }

    *::-webkit-scrollbar {
        width: 15px;
    }

    *::-webkit-scrollbar-track {
        background: #212121;
        border-radius: 5px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #444444;
        border-radius: 14px;
        border: 3px solid #212121;
    }

    /* Chrome, Edge, Safari */


}

@layer base {
    body {
        @apply font-maven-pro text-secondary tracking-wide bg-gradient-to-t from-dark to-[#202020] overflow-x-hidden
    }

    button,
    input, 
    .focus {
        @apply rounded-lg focus-visible:outline focus:outline-2 focus:outline-accent focus-visible:border-0 
    }
    
    span {
        @apply text-accent
    }
    .tooltip {
        @apply bg-[#111111] px-2.5 py-1.5 text-center text-sm rounded-lg shadow-input
    }

    * :not(span) {
        @apply text-[16px]
    }

    img {
        @apply select-none pointer-events-none
    }
    
}